@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

html{
    display: flex;
    flex-direction: column;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', sans-serif;
}

.header{
    display: flex;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #3EBFFF;
}

.menu-item{
    color: var(--white);
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    padding: 1rem;
}
.logo + .menu-item{
    margin-left: auto;
}

.contact{
    margin-left: 0.5rem;
    background-color: var(--white);
    color: black;
    border-radius: 55px;
    border: 0;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}
.contact:hover{
    background-color: rgba(255, 255, 255, 0.445);
    color: var(--white);   
}
.banner{
    background-image: url('./assets/desktop/image-header.jpg');
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-color: #3EBFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    color:var(--white);
    text-align:center;
    font-size: 3rem;
}
.arrow{
    display: flex;
    height: 80px;
    margin-top: 4rem;
    transform: translateY(-50%);
}
.content-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.content{
    background-color: var(--white);
    padding: 6rem;
}
.content h2{
    color: var(--very-dark-desaturated-blue);
    font-size: 2.5rem;
    padding: 2rem;
    font-weight: 900;
}
.text{
    color: var(--very-dark-grayish-blue);
    font-size: 1.2rem;
}
.more{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    display: flex;
    margin: 1rem;
    font-weight: 900;
    position: relative;
    z-index: 1;
    width: max-content;
}
.more::before{
    position: absolute;
    width: 100%;
    height: 0.5rem;
    background-color: var(--yellow);
    content: '';
    z-index: -1;
    border-radius: 55px;
    bottom: 0;
    transform:translateX(-5%) translateY(50%);
    padding: 0 0.6rem;
    filter: opacity(0.2);
    transition: filter ease 0.2s;
}
.more:hover::before{
    filter: opacity(0.5);
}
.img-cup + .content .more::before{
    background-color: var(--soft-red);
    
}
.img-egg{
    background-image: url(./assets/desktop/image-transform.jpg);
    background-repeat: no-repeat;
}
.img-cup{
    background-image: url(./assets/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
}
.img-cherry{
    background-image: url(./assets/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
}
.img-tangirine{
    background-image: url(./assets/desktop/image-photography.jpg);
    background-repeat: no-repeat;
}
.img-cherry, .img-tangirine{
    padding: 6rem;
    text-align: center;
}
.img-cherry h2, .img-tangirine h2{
    font-size: 2rem;
    padding: 2rem;
    font-weight: 900;
    margin-top: 15rem;
}
.img-cherry h2, .img-cherry p{
    color: var(--dark-desaturated-cyan);
}
.img-tangirine h2, .img-tangirine p{
    color: var(--dark-blue);
}

.clients h2{
    text-transform: uppercase;
    color: var(--grayish-blue);
    text-align: center;
    margin-top: 5rem;
    letter-spacing: 0.5rem;
    padding: 1rem;
}

.image-profile{
    border-radius: 50%;
    width: 4rem;
    
}
.clients-text{
    color: var(--very-dark-grayish-blue);
    margin: 2rem;
    text-align: center;
}
.clients span{
    color: var(--grayish-blue);
    font-family: 'Barlow', sans-serif ;
    margin-top: 0.5rem;
}
.clients strong{
    font-size: 1.2rem;
}
.container-profile{
    display: flex;
    flex-direction: row;
}
.profile{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
.images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#milk{
    background-image: url(./assets/desktop/image-gallery-milkbottles.jpg);
    width: 100%;
    height: 25rem;
    background-size: cover;
}
#orange{
    background-image: url(./assets/desktop/image-gallery-orange.jpg);
    background-size: cover;
}
#cone{
    background-image: url(./assets/desktop/image-gallery-cone.jpg);
    background-size: cover;
}
#sugar{
    background-image: url(./assets/desktop/image-gallery-sugarcubes.jpg);
    background-size: cover;
}
body{
    
    --soft-red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark-desaturated-cyan: hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan: hsl(160, 46%, 59%);
    --very-dark-desaturated-blue:hsl(212, 27%, 19%);
    --very-dark-grayish-blue: hsl(213, 9%, 39%);
    --dark-grayish-blue: hsl(232, 10%, 55%);
    --grayish-blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%);
    max-width: 1440px;
    
}

footer{
    background-color:#90d4c5;
    display: flex;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
}

.links{
    padding: 2rem;
}
.link{
    color: var(--dark-desaturated-cyan);
    text-decoration: none;
    padding: 2rem;
    transition: color ease 0.2s;
}
.link:hover{
    color: var(--white);
}
.icon{
    margin: 1rem;
    color: #2C7566;
    transition: color ease 0.2s ;
}
.icon:hover{
    color: var(--white);
}
.social a{
    text-decoration: none;
}